#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#ll {
    background-color: white; 
    height: 100vmin;
}

#newProduct {
    font-size: 25px;
    color: #333;
    padding-top: 70px;
    border-bottom: 1px solid gray;
}

#nameProduct {
    display: inline-flex;
    padding-right: 10px;
}

#valueOfName {
    text-align: center;
    width: 320px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#newProductCard {
    font-size: 25px;
    color: #333;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

#initiallDIV > p {
    display: inline-flex;
}

#initiallDIV > input {
    text-align: center;
    width: 280px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#nameStateQ {
    padding-right: 25px;
}

#purPrice {
    padding-right: 66px;
}

.addNewPP {
    padding-top: 20px;
}

.measurementUnitID {
    width: 260px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#labela {
    padding-right: 12px;
}

.productCategoryID {
    width: 260px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#labela2 {
    padding-right: 16px;
}

.warehouseID {
    width: 260px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#labela3 {
    padding-right: 63px;
}

.businessPartnerID {
    width: 260px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
}

#labela4 {
    padding-right: 23px;
}

#messageText {
    color: #ff4444;

}

#pprice {
    padding-right: 138px;
}