<app-navbar></app-navbar>
<div id="bImage">
    <div class="container-fluid col-md-8" id="ll">
        <div class="container-fluid col-md-6">
          <p id="newProduct">New product</p>
          <div>
            <p id="nameProduct">Name of product:</p>
            <input id="valueOfName" [(ngModel)]="product.productName" name="productName">
          </div>
          <div class="form-group">
              <label for="measurementUnitID" id='labela'>Select Measurement Unit:</label>
                <select class="measurementUnitID" [(ngModel)]="measurementUnitID" (change)="changeMeasurementUnit($event)">
                  <option *ngFor="let unit of measurementUnits" value="{{unit.id}}">{{unit.name}}</option>
                </select>
           </div>
           <div class="form-group">
              <label for="productCategoryID" id='labela2'>Select Product Category:</label>
                <select class="productCategoryID" [(ngModel)]="productCategoryID" name="productCategory" (change)="changeProductCategory($event)">
                  <option *ngFor="let p of productCategories" value="{{p.id}}">{{p.productCategoryName}}</option>
                </select>
           </div>
        </div>
        <div class="container-fluid col-md-6 seconddDiv">
          <p id="newProductCard">New product card</p>
          <div id="initiallDIV">
              <p id="pprice">Price:</p>
              <input [(ngModel)]="productCard.price" name="price">
              <p id="purPrice">Purchase Price:</p>
              <input [(ngModel)]="productCard.purchasePrice" name="purchasePrice">
              <p id="nameStateQ">Initial State Quantity:</p>
              <input [(ngModel)]="productCard.initialStateQuantity" name="initialStateQuantity">
          </div>
          <div class="form-group">
              <label for="warehouseID" id='labela3'>Select Warehouse:</label>
                <select class="warehouseID" [(ngModel)]="warehouseID" name="warehouse" (change)="changeWarehouse($event)">
                  <option *ngFor="let warehouse of warehouses" value="{{warehouse.id}}">{{warehouse.name}}</option>
                </select>
           </div>
           <div class="form-group">
              <label for="businessPartnerID" id='labela4'>Select Business Partner:</label>
                <select class="businessPartnerID" [(ngModel)]="businessPartnerID" name="businessPartner" (change)="changeBusinessPartner($event)">
                  <option *ngFor="let b of businessPartners" value="{{b.id}}">{{b.name}}</option>
                </select>
           </div>
        </div>
        <div class="container-fluid col-md-6 addNewPP">
          <p id="messageText" *ngIf="message == true">Initial state quantity must be bigger than 0, price must be than 0, purchase price must be bigger than 0 and you need to enter product name!</p>
            <button type="button" class="btn btn-primary col-12" (click)="submitNewPP()">Submit</button>
        </div>
</div>
