<app-navbar></app-navbar>
<div id="bImage">
    <div id="documentItem" (click)="closeDocumentItem()">
        <div class="container-fluid col-md-8" id="cont">
            <p id="itemTitle">Document item</p>
            <table class="table" id="table">
                <thead id="header">
                    <tr>
                        <th scope="col">Article code</th>
                        <th scope="col">Article name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentItems">
                        <th scope="row">{{item.articleId}}</th>
                        <td>{{item.articleName}}</td>
                        <td>{{item.quantity | number : '.0'}}</td>
                        <td>{{item.price | number : '.2-2'}}</td>
                        <td>{{item.quantity * item.price | number : '.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid col-md-8" id="ll">
        <div class="main">
            <p id="document">Document</p>
            <button id="button" (click)="showDocumentItem()">Document item</button>
            <div class="container-fluid col-md-8" >
                <p id="bYear">Business Year:</p>
                <input value="{{document.businessYear.year}}" id="yearInput" readonly>
                <p id="number">Document number:</p>
                <input value="{{document.serialNumber}}" id="numberInput" readonly>

                <div>
                    <p id="date">Date:</p>
                    <input value="{{document.createDate|date:'dd.MM.yyyy'}}" id="dateInput" readonly>
                    <p id="documentType">Type of document:</p>
                    <input value="{{document.type}}" id="typeInput" readonly>
                </div>

                <div>
                    <p id="warehous">Warehouse</p>
                    <p id="code"> Code warehouse:</p>
                    <input value="{{document.warehouse.id}}" id="codeInput" readonly>
                    <div>
                        <p id="nameWarehouse">Name of the warehouse:</p>
                        <input value="{{document.warehouse.name}}" id="nameInput" readonly>
                    </div>
                </div>

                <div id="businessPartner">
                    <p id="partner">Business partner</p>
                    <p id="namePartner">Partner name:</p>
                    <input value="{{document.businessPartner.name}}" id="partnerNameInput" readonly>
                    <div>
                        <p id="typePartner">Type of partner:</p>
                        <input value="{{document.businessPartner.partnerType}}" id="patrnerInput" readonly>
                    </div>
                </div>
                <div id="divStatus">
                        <p id="status">Status:</p>
                        <input value="{{document.status}}" id="statusInput" readonly>
                </div>
                <div>
                    <button class="btn btn-secondary" id="buttonStorno" *ngIf="document.status == 'Proknjizeno'" (click)="cancel()">Cancel</button>
                    <button class="btn btn-outline-secondary" id="buttonPr" (click)="booking()" *ngIf="document.status != 'Proknjizeno'">Booking</button>
                </div>
            </div>
        </div>
    </div>
</div>
