<app-navbar></app-navbar>
<div id="bImage">
  <div id="overlay">
      <div id="text" class="container-fluid col-md-10">
        <div class="container-fluid col-12">
          <p id="allTitle" class="col-11">The all analytic cards for product card with #{{product.productCard.id}} number</p>
          <button class="col-1" (click)="closeAnaliticCards()" id="closeAnalitic"><i class="far fa-times-circle"></i></button>
        </div>
        <p id="allDateTime">Date: {{jstoday}}</p>
        <div class="container-fluid col-12" style="text-align: center;">
            <button type="button" class="btn btn-info col-1 printB" (click)="openDateForPrint()"><i class="fas fa-print"></i> Print</button>
            <div class="form-row" id="mainForPrint" *ngIf="divDateForPrint == true">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3">
		                <label for="startDate">Start Date</label>
		                <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate">
		            </div>
		            <div class="form-group col-md-3">
		                <label for="endDate" >End date</label>
		                <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate" id="endDate">
                </div>
                <div class="form-group col-3">
                    <label for="okPrint" ></label>
                    <input type="button" class="form-control col-2" id="okPrint" (click)="print()" value="OK">
                </div>
            </div>
        </div>
        <table class="table table-bordered" id='tableAnalitic'>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Ordinal Number</th>
                    <th scope="col">Traffic Type</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Value</th>
                </tr>
            </thead>
            <tbody id="tbody" *ngFor="let c of analiticCards">
                <tr>
                    <td>{{c.ordinalNumber}}</td>
                    <td>{{c.trafficType}}</td>
                    <td>{{c.direction}}</td>
                    <td>{{c.quantity | number : '.0-0'}}</td>
                    <td>{{c.price | number : '.2-2'}}</td>
                    <td>{{c.totalValue | number : '.2-2'}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  <div class="container-fluid col-md-8" id="main">
    <p id="productC">Product card</p>
    <button type="button" id="analiticCards" class="btn btn-primary" (click)="showAnaliticCards()">Analytic Cards</button>
    <div class="container-fluid col-md-6">
      <p id="bYear">Business Year:</p>
      <input value="{{product.productCard.businessYear.year}}" id="valueYear" readonly>
      <div>
        <p id="articl">Article</p>
        <p id="articleCode">Code article:</p>
        <input value="{{product.id}}" id="valueCodeArticle" readonly><br>
        <p id="nameArticle">Name of article:</p>
        <input value="{{product.productName}}" id="valueNameArticle" readonly class="col-8">
      </div>
      <div>
          <p id="price">Price</p>
          <p id="pricePP">Calculated price:</p>
          <input value="{{product.productCard.price | number : '.2-2'}}" id="valuePrice" readonly>
          <p id="pricePP">Purchase price:</p>
          <input value="{{product.productCard.purchasePrice | number : '.2-2'}}" id="valuePrice" readonly>
      </div>
    </div>
    <div class="container-fluid col-md-11 seconddDiv">
      <div id="initiallDIV" class="col-12">
          <p>Initial State Quantity:</p>
          <input value="{{product.productCard.initialStateQuantity | number : '.0-0'}}"  readonly>
          <p>Initial State Value:</p>
          <input value="{{product.productCard.initialStateValue | number : '.2-2'}}"  readonly>
      </div>
      <div id="initiallDIV" class="col-12">
          <p>Traffic Entry Quantity:</p>
          <input value="{{product.productCard.trafficEntryQuantity | number : '.0-0'}}" readonly>
          <p>Traffic Entry Value:</p>
          <input value="{{product.productCard.trafficEntryValue | number : '.2-2'}}"  readonly>
      </div>
      <div id="initiallDIV" class="col-12">
          <p>Traffic Exit Quantity:</p>
          <input value="{{product.productCard.trafficExitQuantity | number : '.0-0'}}" readonly>
          <p>Traffic Exit Value:</p>
          <input value="{{product.productCard.trafficExitValue | number : '.2-2'}}"  readonly>
      </div>
    </div>
    <div class="container-fluid col-md-7 totalDiv">
        <p id="tQuantity">Total Quantity:</p>
        <input value="{{product.productCard.totalQuantity | number : '.0-0'}}" readonly id="vQuantity" class="col-8">
        <p id="tValue">Total Value:</p>
        <input value="{{product.productCard.totalValue | number : '.2-2'}}" readonly id="vValue" class="col-8">
    </div>
  </div>
</div>
