#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    background-color: white; 
    height: 100vmin;
}

#productC {
    color: #333;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

#bYear {
    display: inline-flex;
    padding-right: 10px;
}

#valueYear {
    display: inline-flex;
    width: 50px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
    text-align: center;
}

#articl {
    border-bottom: 1px solid gray;
    font-size: 22px;
}

#articleCode {
    display: inline-flex;
    padding-right: 10px;
}

#valueCodeArticle {
    text-align: center;
    width: 70px;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

#nameArticle {
    display: inline-flex;
    padding-right: 10px;
}

#valueNameArticle {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

#price {
    border-bottom: 1px solid gray;
    font-size: 22px;
}

#pricePP {
    display: inline-flex;
    padding-right: 10px;
}

#valuePrice {
    text-align: center;
    padding: 1px;
    width: 100px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

.seconddDiv {
    padding-top: 20px;
}

#initiallDIV > p {
    display: inline-flex;
    padding-left: 5px;
    width: 170px;
}

#initiallDIV > input {
    text-align: center;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

#tQuantity {
    display: inline-flex;
    width: 140px;
}

#vQuantity {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

#tValue {
    width: 140px;
    display: inline-flex;
}

#vValue {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

.totalDiv {
    margin-top: 25px;
    border-top: 1px solid gray;
    padding-top: 15px;
}

#analiticCards {
    float: right;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#text {
    padding: 50px;
    position: absolute;
    top: 20%;
    left: 9%;
    font-size: 17px;
    color: #333;
    background-color: white;
    border-radius: 5px;
}

#tableAnalitic { 
    padding: 20px;
}

#allTitle {
    padding-bottom: 5px;
    color: #333;
    text-align: center;
    font-size: 25px;
    display: inline-flex;
    justify-content: center;
    padding-left: 100px; 
}

#allDateTime {
    color: #333;
    text-align: center;
    font-size: 20px;
}

#closeAnalitic {
    display: inline-flex;
    justify-content: flex-end;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 35px;
    color: #333;
}

#closeEPrice {
    float: right;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 35px;
    color: #333;
}

#okPrint {
    margin-top: 8px;
    color: white;
    cursor: pointer;
    background-color: #00C851;
}

#okPrint:hover {
    color: #00C851;
    background-color: white;
    border-color: #00C851;
}

#mainForPrint {
    padding: 10px;
}

.printB {
    margin-bottom: 10px;
}

.editB {
    margin-left: 5px;
    background-color: white;
    color: #0099CC;
    cursor: pointer;
    border: none;
    font-size: 20px;
    margin-top: 2px;
    border-radius: 2px;
}

#overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#text2 {
    padding: 50px;
    position: absolute;
    top: 28%;
    left: 33%;
    font-size: 17px;
    color: #333;
    background-color: white;
    border-radius: 5px;
}

#proceEditDiv {
    padding-top: 60px;
}

#messageTextt {
    color: #ff4444;
}