<app-navbar></app-navbar>
<div id="bImage">
    <div class="container-fluid col-md-8" id="ll">
        <div id="addDivP">
            <button type="button" class="btn btn-success" (click)="goToAddProductPage()"><i class="fas fa-plus"></i> Add new product</button>
        </div>
        <div id="searchDiv">
            <form class="form-inline my-2 my-lg-0" id="searchForm">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" name="searchText">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="search()">Search</button>
                <button class="btn btn-outline-info my-2 my-sm-0 refButton" type="button" (click)="refresh()" *ngIf="refreshButton == true">Refresh</button>
            </form>
        </div>
        <div id="main">
            <div id="companyInformation_1" class="col-6">
                <p>Name of company</p><br>  
            </div>
            <div id="companyInformation_2" class="col-6">
                <p>Date: {{jstoday}}</p>    
            </div>
            <p id="title" class="col-12">Article code of article 00000 to article 99999</p>
        </div>
        <div>
            <table class="table table-bordered" id='tableReservation'>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Article code</th>
                        <th scope="col">Unit of measure</th>
                        <th scope="col">Name of article</th>
                    </tr>
                </thead>
                <tbody id="tbody" *ngFor="let article of codeArticles">
                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.measurementUnit.name}}</td>
                        <td><a [routerLink]="['/productCard',article.id]" id="nameProduct">{{article.productName}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="pagiDiv">
            <a class="paginationButton" id="{{page}}" *ngFor="let page of totalPageNumber" name="{{page}}" (click)=" nextPage($event)">{{page+1}}</a>
        </div>
    </div>
</div>