#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#ll {
    background-color: white; 
    height: 100vmin;
}

#title {
    color: #333;
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

#main {
    padding-top: 20px;
}

#companyInformation_1 {
    display: inline-flex;
    flex-wrap: wrap; 
}

#companyInformation_2 {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
}

#companyInformation_1 > p {
    color: #333;
    font-size: 20px;
}

#companyInformation_2 > p {
    color: #333;
    font-size: 20px;
}

#addDivP {
    padding: 10px;
    padding-top: 12px;
    display: inline-block;
}

#searchDiv {
    display: inline-block;
    float: right;
}

#searchForm {
    padding: 10px;
    padding-top: 12px;
}

#nameProduct {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#nameProduct:hover {
    color: gray;
}

#pagiDiv {
    display: flex;
    justify-content: center;
}

.paginationButton{
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid #333;
    width: 30px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    margin-right: 8px;
}

.paginationButton:hover {
    opacity: 0.8;
    background-color: #ffbb33;
}

.active{
    background-color: #ffbb33;
}

.refButton {
    margin-left: 5px;
}