<app-navbar></app-navbar>
<div id="bImage">
    <div class="container-fluid col-md-8" id="ll">
        <div class="main">
            <p id="document">Add document</p>
            <div class="container-fluid col-md-8">
                <p id="bYear">Business Year:</p>
                <input value="{{businessYear.year}}" id="yearInput">
                <p id="number">Document number:</p>
                <input [(ngModel)]="document.serialNumber" name="serialNumber" id="numberInput" >

                <div>
                    <p id="date">Date:</p>
                    <input value="{{document.createDate}}" id="dateInput">
                    <p id="documentType">Type of document:</p>
                    <select id="typeInput" name="type" [(ngModel)]="document.type">
                        <option value="Primka">Primka</option>
                        <option value="Otpremnica">Otpremnica</option>
                    </select>
                </div>

                <div>
                    <p id="warehous">Warehouse</p>
                    <p id="code"> Code warehouse:</p>
                    <input value="{{warehouseId}}" id="codeInput" >
                    <div>
                        <p id="nameWarehouse">Name of the warehouse:</p>
                        <select id="nameInput" name="warehouse" [(ngModel)]="warehouseId" (change)="change($event)">
                            <option value="{{warehouse.id}}"  *ngFor="let warehouse of warehouses">{{warehouse.name}}</option>
                        </select>
                    </div>
                </div>

                <div id="businessPartner">
                    <p id="partner">Business partner</p>
                    <p id="namePartner">Partner name:</p>
                    <select id="partnerNameInput" name="businessPartner" [(ngModel)]="partnerId" (change)="changePartner($event)">
                        <option value="{{partner.id}}"  *ngFor="let partner of partners">{{partner.name}}</option>
                    </select>
                    <div>
                        <p id="typePartner">Type of partner:</p>
                        <input value="{{partnerType}}" id="patrnerInput" readonly>
                    </div>
                </div>
                <div id="divStatus">
                        <p id="status">Status:</p>
                        <input value="Formiranje" id="statusInput" readonly>
                </div>
                <div>
                    <p id="message" *ngIf="message == true">Need to enter the document number!</p>
                   <button id="button" class="btn btn-secondary" (click)="goToDocumentItem()">Document item</button>
                </div>
            </div>
        </div>
    </div>
</div>
