#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#ll {
    background-color: white; 
    height: 100vmin;
}

#document {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    margin-right: 65px;
}

#bYear {
    display: inline-flex;
    padding-right: 10px;
}

#yearInput{
    display: inline-flex;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    border-color: #999;
}

#number {
    display: inline-flex;
    margin-left: 108px;
    padding-right: 10px;
}

#numberInput{
    border-radius: 5px;
    width: 21%;
    text-align: center;
    border-color: #999;
}

#date{
    display: inline-flex;
    padding-right: 10px;
}

#dateInput {
    width: 21%;
    border-radius: 5px;
    border-color: #999;
    text-align: center;
}

#documentType {
    display: inline-flex;
    margin-left: 100px;
    padding: 10px;
}

#typeInput{
    display: inline-flex;
    width: 21%;
    border-radius: 5px;
    border-color: #999;
    text-align: center;
}

#warehous, #partner{
    margin-top: 15px;
    border-bottom: 1px solid #b7b6ba;
    font-size: 20px;
}

#code {
    display: inline-flex;
    padding-right: 20px;
}

#codeInput{
    margin-left: 55px;
    border-radius: 5px;
    border-color: #999;
    text-align: center;
    width: 40%;
}

#nameWarehouse, #namePartner, #typePartner{
    display: inline-flex;
    padding-right: 20px;
}

#nameInput, #patrnerInput, #partnerNameInput, #statusInput {
    display: inline-flex;
    border-color: #999;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

#partnerNameInput{
    margin-left: 75px;
    padding: 2px;
}

#nameInput {
    padding: 2px;
}

#patrnerInput{
    margin-left: 60px;
}

#status {
    display: inline-flex;
    margin-top: 15px;
}

#statusInput{
    margin-top: 15px;
    margin-left: 148px;
}

#button{
    float: right;
    margin-top: 30px;
}

#divStatus {
    border-top: 1px solid #b7b6ba;
    margin-top: 15px;
    margin-bottom: 20px;
}

#message {
    text-align: center;
    color: red;
    margin-left: 60px;
    margin-bottom: 0px;
    font-size: 19px;
}