<div id="bColor">
  <div class="container-fluid col-md-8 navbar">
    <div id="navbar_one" class="col-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" id="navLink">Home</a>
          <a class="nav-link" [routerLink]="['/codeArticle']" id="navLink">Code articles</a>
          <a class="nav-link" [routerLink]="['/documents']" id="navLink">Documents</a>
        </li>
      </ul>
    </div>
    <div id="navbar_two" class="col-6">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
          <div class="dropdown-menu">
            <button class="dropdown-item" id="logout" (click)="logout()">Logout</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
