#bColor {
    background-color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #333;
}

#navbar_one > .nav > li {
    flex-wrap: nowrap;
    display: inline-flex;
}

#navbar_two {
    display: flex;
    justify-content: flex-end;
}

#logout {
    cursor: pointer;
}

.navbar > div > ul > li > a {
    color: white;
    font-size: 20px;
}

.navbar > div > ul > li > a:hover {
    color: #cccccc;
}