#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#ll {
    background-color: white; 
    height: 100vmin;
}

#cont{
    position: absolute;
    padding: 20px;
    background: white;
    width: 28%;
    margin-left: 35%;
    margin-top: 7%;
    height: 65%;
}

#addItemTitle {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    color: #808080;
}

#add {
    margin-left: 20px;
}

#addName {
    margin-left: 15px;
    margin-top: 5px;
    padding: 3px;
}

#options {
    width: 260px;
    margin-bottom: 10px;
    padding: 3px;
}

#add input {
    margin-left: 15px;
    border: 0; 
    padding: 7px 0;
    border-bottom: 1px solid rgb(136, 134, 134);
    width: 280px;
    margin-bottom: 10px;
}

#addCode {
    margin-top: 10px;
}

#add input[type=text]:focus { 
    border-bottom-color: #3399FF;
    transition: 0.4s;
}

#add p {
    margin: 0;
    margin-top: 20px;
    color: #808080;
}

#buttons {
    margin-right: 20px;
    margin-top: 20px;
}

#create {
    float: right;
    padding: 8px;
    width: 90px;
    border: none;
    margin-right: 5px;
}

#close {
    float: right;
    padding: 8px;
    width: 90px;
    border: none;
}

#title {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    color: #808080;
}

#prometniDok {
    margin-top: 15px;
    border-bottom: 1px solid #b7b6ba;
    font-size: 20px;
}

#document{
    margin-bottom: 20px;
}

#bYear {
    display: inline-flex;
    padding-right: 10px;
}

#yearInput {
    display: inline-flex;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    border-color: #999;
}

#number {
    display: inline-flex;
    margin-left: 75px;
    padding-right: 10px;
}

#numberInput{
    border-radius: 5px;
    width: 50px;
    text-align: center;
    border-color: #999;
}

#documentType {
    display: inline-flex;
    margin-left: 75px;
    padding: 10px;
}

#typeInput {
    display: inline-flex;
    width: 21%;
    border-radius: 5px;
    border-color: #999;
    text-align: center;
}

.table {
    box-shadow: 0px 2px 8px 0px #333;
}

/*#header {
    background-color: #f1f1f1;
}*/

.table thead, .table tr:hover {
    background-color: #f1f1f1;
}

#addButton {
    /*background-color: #808080;*/
    width: 19%;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px #333;
    margin-bottom: 10px;
}

#addItem {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 130, 130, 0.5);;
    z-index: 2;
    cursor: pointer;
}

#save {
    float: right;
    width: 110px;
    box-shadow: 0px 2px 8px 0px #333;
    margin-top: 35px;
}

#message {
    text-align: center;
    color: red;
    font-size: 18px;
}