<app-navbar></app-navbar>
<div id="bImage">
    <div id="addItem" >
        <div class="container-fluid col-md-8" id="cont">
            <p id="addItemTitle">Add document item</p>
            <div id="add">
                <p id="name">Article name:</p>
                <select id="addName" (change)="onChange($event)">
                    <option id="options" *ngFor="let product of products" value="{{product.id}}">{{product.productName}}</option>
                </select>
                <p id="name">Quantity:</p>
                <input type="text" id="addQuantity" placeholder="Quantity" [(ngModel)]="documentItem.quantity" name="quantity">
                <p id="name">Price:</p>
                <input type="text" id="addPrice" placeholder="Price" value="{{documentItem.price | number : '.2-2'}}" name="price" readonly>
            </div>
            <div>
                <p id="message" *ngIf="messageItem == true">Need to enter a quantity!</p>
            </div>
            <div id="buttons">
                <button (click)="closeAddItem()" id="close" class="btn btn-danger">Close</button>
                <button id="create" class="btn btn-primary" (click)="addDocumentItem()">Create</button>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-8" id="ll">
        <p id="title">Document item</p>
        <div id="document">
            <p id="prometniDok">Document:</p>
            <p id="bYear">Business Year:</p>
            <input value="2019" id="yearInput" readonly>
            <p id="number">Document number:</p>
            <input value="{{document.serialNumber}}" id="numberInput" readonly>
            <p id="documentType">Type of document:</p>
            <input value="{{document.type}}" id="typeInput" readonly>
        </div>
        <div>
            <button id="addButton" (click)="showAddItem()">Add item</button>
            <table class="table" id="table">
                <thead id="header">
                    <tr>
                        <th scope="col">Article code</th>
                        <th scope="col">Article name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentItems">
                        <th scope="row">{{item.product.id}}</th>
                        <td>{{item.product.productName}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity * item.price}}</td>
                    </tr>
                </tbody>
            </table>
            <p id="message" *ngIf="messageDocument == true">The document must have items!</p>
            <button id="save" class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
</div>
