<app-navbar></app-navbar>
<div id="bImage">
    <div class="container-fluid col-md-8" id="ll">
        <p id="title">Documents</p>
        <a routerLink="/addDocument"><button class="btn btn-primary" id="addButton">Add document</button></a>
        <div class="card" style="width: 19rem;" id="card-box" *ngFor="let document of documents">
            <div class="card-body">
                <h5 class="card-title">Document</h5>
                <p class="card-text" id="number">Document number:</p>
                <input class="card-text" value="{{document.serialNumber}}" id="numberInput" readonly>
                <div>
                    <p id="date" class="card-text">Date:</p>
                    <input class="card-text" value="{{document.createDate|date:'dd.MM.yyyy'}}" id="dateInput" readonly>
                </div>
                <div id="status-div">
                    <p id="status" class="card-text">Status:</p>
                    <input class="card-text" value="{{document.status}}" id="statusInput" readonly>
                </div>
                <a [routerLink]="['/document',document.id]" class="card-link"id="documentLink">More about the document</a>
            </div>
        </div>
        <div id="pagiDiv">
            <a class="paginationButton" id="{{page}}" *ngFor="let page of totalPageNumber" name="{{page}}" (click)=" nextPage($event)">{{page+1}}</a>
        </div>
    </div>
</div>
