#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#ll {
    background-color: white; 
    height: 100vmin;
}

#title {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

#addButton {
    display: block;
    margin-left: 80px;
}

a {
    text-decoration: none;
}

#card-box {
    margin-left: 85px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0px 1px 2px 0px #333;
}

p {
    margin-left: 30px;
}

#number {
    display: inline-flex;
    padding-right: 10px;
}

#numberInput{
    border-radius: 5px;
    width: 21%;
    text-align: center;
    border-color: #999;
}

#date{
    display: inline-flex;
    padding-right: 10px;
}

#dateInput {
    width: 48%;
    border-radius: 5px;
    border-color: #999;
    text-align: center;
    margin-left: 32px;
}

#status-div {
    margin-bottom: 15px;
}

#status {
    display: inline-flex;
}

#statusInput{
    border-radius: 5px;
    border-color: #999;
    text-align: center;
    width: 48%;
    margin-left: 32px;
}

a{
    text-align: center;
    margin-left: 30px;
}

#pagiDiv {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.paginationButton{
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid #333;
    width: 30px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    margin-left: 8px;
}

.paginationButton:hover {
    opacity: 0.8;
    background-color: #ffbb33;
}

.active{
    background-color: #ffbb33;
}