#title {
    color: #333;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#companyInformation_1 {
    display: inline-block;
}

#companyInformation_2 {
    display: inline-block;
    float: right;
}

#companyInformation_1 > p {
    color: #333;
    font-size: 20px;
}

#companyInformation_2 > p {
    color: #333;
    font-size: 20px;
}

#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 145vmin;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    background-color: white;
    height: 145vmin; 
}

#nameProduct {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#nameProduct:hover {
    color: gray;
}

#allwarehouse {
    background-color: white; 
    border-bottom: 1px solid gray;
}

#titleW {
    color: #333;
    font-size: 25px;
    padding-top: 20px;
    border-bottom: 1px solid gray;
}

#idWarehouse {
    display: inline-flex;
    font-size: 20px;
}

.nameWarehouse {
    padding-left: 10px; 
    display: inline-flex;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.nameWarehouse:hover {
    border-bottom: 1px solid gray;
    font-style: italic;
}

#n {
    display: inline-flex;
    font-size: 20px; 
}

#oneWarehouse {
    padding: 5px;
    text-align: center;
}

#pagiDiv {
    display: flex;
    justify-content: center;
}

.paginationButton{
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid #333;
    width: 30px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    margin-right: 8px;

}

.paginationButton:hover {
    opacity: 0.8;
    background-color: #ffbb33;
}

.active{
    background-color: #ffbb33;
}

#print {
    text-align: center;
}

#printB {
    padding: 2px;
    font-size: 20px;
}