<app-navbar></app-navbar>
<div id="bImage">
    <div class="container-fluid col-md-8" id="main">
        <div class="col-12" id="allwarehouse">
            <p id="titleW">Warehouses</p>
            <div *ngFor="let w of warehouses">
                <div id="oneWarehouse" class="col-12">
                    <p id="n">#</p>
                    <p id="idWarehouse">{{w.id}}</p>
                    <a id="{{w.id}}" class="nameWarehouse" (click)="showMainDiv($event)">{{w.name}}</a>
                </div>
            </div>
        </div>
        <div *ngIf="visibility==true">
            <div>
                <p id="title" class="col-12">State of products in the warehouse</p>
                <div id="print">
                    <button type="button" class="btn btn-info col-2 printB" (click)="printLagerList()"><i class="fas fa-print"></i> Print</button>
                </div>
                <div id="companyInformation_1" class="col-6">
                    <p>Company name: {{oneWarehouse.company.name}}</p>  
                    <p>Warehouse: {{oneWarehouse.name}}</p>  
                </div>
                <div id="companyInformation_2" class="col-6">
                    <p style="float:right;">Date: {{jstoday}}</p>   
                </div>
            </div>
            <div>
                <table class="table table-bordered" id='tableReservation'>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Article code</th>
                            <th scope="col">Unit of measure</th>
                            <th scope="col">Name of article</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" *ngFor="let product of products">
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.measurementUnit.name}}</td>
                            <td><a [routerLink]="['/productCard',product.id]" id="nameProduct">{{product.productName}}</a></td>
                            <td>{{product.productCard.totalQuantity | number : '.0-0'}}</td>
                            <td>{{product.productCard.totalValue | number : '.2-2'}}</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <td colspan="4"> Total value: </td>
                        <td>{{totalValue | number : '.2-2'}}</td> 
                    </tbody>
                </table>
            </div>
            <div id="pagiDiv">
                <a class="paginationButton" id="{{page}}" *ngFor="let page of totalPageNumber" name="{{page}}" (click)=" nextPage($event)">{{page+1}}</a>
            </div>
        </div>
    </div>
</div>