<div id="bImage">
  <div class="container-fluid col-md-8" id="main">
      <div class="container-fluid col-md-6" id="secondMain">
        <form>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" [(ngModel)]="user.username"  name="username">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" name="password">
          </div>
          <p *ngIf="message == true">
              You need to fill in all fields!
          </p>
          <button type="submit" class="btn btn-primary" id="submitLogin" (click)="login()">Submit</button>
        </form>
      </div>
  </div>
</div>
