#bImage{
    background-image: url("../../photos/photo_1.jpeg");
    height: 100vmin;
}

#main {
    background-color: white; 
    height: 100vmin;
    opacity: 0.8;
}

form {
    padding-top: 150px;
}

#inputUsername {
    border-color: #333;
    color: #333;
}

#inputPassword {
    border-color: #333;
    color: #333;
}

#submitLogin {
    border-color: #333;
}
